/* resetting rules// */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0e2c5;
  color: #49281a;
}

/* header section// */
header {
  border: 2px solid black;
  text-align: center;
  padding: 50px 0;
}
header h1 {
  font-family: "Playfair Display SC", "serif";
  color: #49281a;
  margin-bottom: 50px;
  font-size: 3rem;
}
header p {
  font-family: "Lato", sans-serif;
  color: #49281a;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

header a {
  font-family: "Lato", sans-serif;
  text-align: center;
  text-decoration: none;
  background-color: #49281a;
  color: #f0e2c5;
  font-size: 16px;
  line-height: 50px;
  padding: 15px 30px;
  border-radius: 9px;
}

/* nav section  */
nav {
  /* border: 2px solid #000; */
  text-align: center;
  padding: 20px 0;
}
nav a {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 40px;
  font-family: "Lato", sans-serif;
  background-color: #49281a;
  color: #f0e2c5;
  /* padding: 10px 20px; */
  margin-right: 20px;
  text-decoration: none;
  border-radius: 9px;
}
/* our menu section  */
#menu,
#about-us,
#contact,
footer {
  /* border: 2px solid #000; */
  width: 90%;
  margin: 50px auto;
}
#menu h2,
#about-us h2,
#contact h2 {
  font-family: "Playfair Display SC", serif;
  color: #49281a;
  margin-bottom: 20px;
  font-size: 2rem;
}
.our-menu {
  /* border: 1px solid #000; */
  font-family: "Lato", sans-serif;
  color: #49281a;
  text-align: center;
}
.our-menu h3 {
  font-family: "Lato", sans-serif;
  color: #49281a;
  margin-bottom: 20px;
  text-align: left;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #f0e2c5;
  width: 250px;
  padding: 10px;
  display: inline-block;
}
.card-img-top {
  max-width: 100%;
  border-radius: 8px;
}
.card-body {
  text-align: center;
  padding: 20px;
}
.card-title {
  padding: 10px 0;
}

.card-text {
  line-height: 1.5rem;
}
.price {
  font-weight: bold;
  font-style: italic;
}
.btn {
  width: 100px;
  height: 40px;
  background-color: #49281a;
  color: #f0e2c5;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

/* about us section// */
#about-us p,
#contact p {
  text-align: justify;
  line-height: 1.5rem;
  font-family: "Lato", sans-serif;
  color: #49281a;
  padding: 10px 0;
}

/* contact section// */
form {
  /* border: 1px solid black; */
  width: 90%;
  margin: 20px auto;
}
form div {
  /* border: 1px solid black; */
  padding: 20px 0;
}
.form-label {
  width: 250px;
  display: inline-block;
}
.form-control {
  width: 400px;
  background-color: #f0e2c5;
  border: none;
  outline: none;
  border-bottom: 1px solid #49281a;
}
.btn-send {
  width: 150px;
  height: 50px;
  background-color: #49281a;
  color: #f0e2c5;
  border-radius: 9px;
  border: none;
  margin-left: 250px;
  cursor: pointer;
}

/* footer section// */
footer p {
  font-family: "Lato", sans-serif;
  color: #49281a;
  margin-bottom: 20px;
  font-size: 0.9rem;
  text-align: center;
}
